@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        

    </head>
    <body>
        <br />
    <main>
        <div class="boxProducto">
        <section >
            <h2 class="titulo-principal">Sobre la Clinica </h2>

            

            <p>Ubicada en el corazón de la ciudad, la <strong>Clinica </strong> tiene a los mejores doctores y equipos medicos para atencion de los pacientes.</p>

            <p id="mision"><em>Nuestra misión es:<strong>"Proporcionar una excelente atencion y calidad de vida a nuestros clientes".</strong> </em></p>

            <p>Ofrecemos profesionales experimentados en diferentes especialidades de la salud que están constantemente estudiando las nuevas enfermedades que aparecen, para así ofrecer a nuestros clientes la mejor atencion.</p>
        </section>

        <section class="mapa">
            <h3 class="titulo-principal">Nuestra Ubicación</h3>
            <p>Nuestro establecimento esta ubicado en el corazon de la ciudad</p>
                <div class="titulo-principal">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7803.917061999427!2d-77.05103382468222!3d-12.046374284637752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c90b899f8bff%3A0xc4274621d95ce738!2sCLINICA%20ARMAS%20E.I.R.L.!5e0!3m2!1ses-419!2spe!4v1688063184826!5m2!1ses-419!2spe" width="1000" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
        </section>

        </div>

    </main>


    </body>

</html>